body{
margin:0;
overflow:hidden;
background:black;
}

#canvas{
display:block;
}

#ui{
position:absolute;
top:20%;
left:50%;
transform:translateX(-50%);
background:#020617;
color:white;
padding:20px;
border-radius:10px;
display:none;
}
